* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

input {
    height: 45px;
    width: 100%;
    color: #3b5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}

main {
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    position: relative;
    z-index: 2;
    max-width: 415px;
    background: #fff;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.form-title {
    color: #0bda51;
    font-weight: 500;
    font-size: 30px;
    line-height: 23px;
    margin-bottom: 38px;
    text-align: center;
}

.form-field {
    margin-bottom: 13px;
}

.btn {
    font-weight: bold;
    font-size: 20px;
    display: block;
    height: 70px;
    width: 355px;
    background: #0bda51;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0bda51;
}