{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'css/authentication.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
  <title>Registration</title>
</head>

<body>
  <header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">PlaTo</div>
      <nav class="nav">
        <a class="nav__link" href="">Home</a>
      </nav>
       </div>
  </div>
  </header>
  <main>
    <div class="register-form-container">
      <h1 class="form-title">Registration</h1>
      <div class="form-fields">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button class="btn" type="submit">Register</button>
        </form>
      <div class="form-buttons">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>
      </div>
    </div>
  </main>
</body>
</html>